# Ignorar directorios generados por Angular CLI
node_modules/
dist/

# Ignorar archivos de configuración generados por Angular CLI
.angular/
.angular-cli.json
.angular-cli/
.angular-config.json
karma.conf.js
karma.conf.ts
tsconfig.app.json
tsconfig.spec.json
tslint.json

# Ignorar archivos de dependencias de desarrollo
*.js.map
*.d.ts

# Ignorar archivos de generación del IDE
.idea/
.vscode/

# Ignorar archivos de compilación de TypeScript
*.js
*.js.map

# Ignorar archivos de compilación de SASS/SCSS
*.css
*.css.map

# Ignorar archivos de registro
*.log

# Ignorar archivos temporales
.tmp/
*.tmp
*.swp
*.swo

# Ignorar archivos de caché
*.cache

# Ignorar archivos de respaldo
*~
*.bak
