<div *ngIf="ingredient" class="ingredient-details">
  <div class="container">
    <div class="ingredient-column">
      <h2>Ingrediente{{ ingredient.name }}</h2>
      <img [src]="ingredient.imageUrl" alt="{{ ingredient.name }}">
    </div>
    <div class="cocktail-column">
      <h3>Cócteles que contienen {{ ingredient?.name }}</h3>
      <div class="cocktail-row">
        <div class="cocktail-item" *ngFor="let cocktail of cocktails">
          <a [routerLink]="['/cocktail', cocktail.idDrink]">
            <img [src]="cocktail.strDrinkThumb" alt="{{ cocktail.strDrink }}">
            {{ cocktail.strDrink }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
