<div *ngIf="cocktail" class="cocktail-details">
  <div class="container">
    <div class="ingredient-column">
      <h2>{{ cocktail?.strDrink }}</h2>
    <img [src]="cocktail?.strDrinkThumb" alt="{{ cocktail?.strDrink }}">
    <p>{{cocktail?.strInstructions}}
    </p>
    </div>
    <div class="cocktail-column">
    <h3>Ingredientes:</h3>
    <div class="cocktail-row">
      <div class="cocktail-item" *ngFor="let ingredient of ingredients; let i = index">
        <a (click)="viewIngredientList(ingredient.name)">{{ ingredient.name }}</a>
        <img *ngIf="ingredientImages[i]?.imageUrl" [src]="ingredientImages[i]?.imageUrl" alt="{{ ingredient.name }}">
      </div>
    </div>
  </div>
  </div>
  </div>

