<div class="container">
<div class="cocktail-list">
  <h2>Popular drinks</h2>
  <div class="cocktail-items">
    <div class="cocktail-item" *ngFor="let cocktail of popularCocktails">
      <div class="cocktail-item-inner">
        <a (click)="viewCocktailDetails(cocktail.idDrink)" style="cursor:pointer">
        <div class="cocktail-image">
          <img [src]="cocktail.strDrinkThumb" alt="{{ cocktail.strDrink }}">
        </div>
        <h3>{{ cocktail.strDrink }}</h3>
      </a>
      </div>
    </div>
  </div>
</div>
<br>

<div class="cocktail-list">
  <h2>Latest drinks</h2>
  <div class="cocktail-items">
    <div class="cocktail-item" *ngFor="let cocktail of latestDrinks">
      <div class="cocktail-item-inner">
        <a (click)="viewCocktailDetails(cocktail.idDrink)" style="cursor:pointer">
        <div class="cocktail-image">
          <img [src]="cocktail.strDrinkThumb" alt="{{ cocktail.strDrink }}">
        </div>
        <h3>{{ cocktail.strDrink }}</h3>
      </a>
      </div>
    </div>
  </div>
</div>
<br>
<div class="cocktail-list">
  <h2>Random drinks</h2>
  <div class="cocktail-items">
    <div class="cocktail-item" *ngFor="let cocktail of randomDrinks">
      <div class="cocktail-item-inner">
        <a (click)="viewCocktailDetails(cocktail.idDrink)" style="cursor:pointer">
        <div class="cocktail-image">
          <img [src]="cocktail.strDrinkThumb" alt="{{ cocktail.strDrink }}">
        </div>
        <h3>{{ cocktail.strDrink }}</h3>
      </a>
      </div>
    </div>
  </div>
</div>
</div>
